html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

a {
  text-decoration: none
}

* {
  box-sizing: border-box
}

html, body {
  height: 100%;
  background: #131223;
  font-size: 18px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #fff
}

#__next {
  height: 100%
}

.up-button {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  background: #020847;
  border-radius: 8px;
  padding: 8px 20px;
  border: 2px solid #020847;
  position: relative;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.up-button--blue {
  background: #0116b4;
  border-color: #0116b4
}

.up-button--purple {
  background: #782abd;
  border-color: #782abd
}

.up-button[disabled] {
  background: #898d91;
  border-color: #898d91;
  cursor: default;
  opacity: .5
}

.up-button:after:not([disabled]) {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  border: 2px solid #000;
  border-radius: 8px;
  opacity: 0;
  transition: opacity .2s ease-in-out
}

.up-button:hover:after {
  opacity: .3
}

.up-input {
  margin-bottom: 12px
}

.up-input--select .up-input__el {
  width: 100%;
  cursor: pointer
}

.up-input--select .up-input__el option {
  background: #252638;
  color: #898d91
}

.up-input__container {
  background: #252638;
  border: 2px solid #898d91;
  border-radius: 6px;
  min-height: 40px;
  width: 100%;
  position: relative;
  font-size: 14px;
  transition: border-color .3s ease-in-out;
  padding: 4px 0
}

.up-input__container--purple.up-input__container--active {
  border-color: #782abd
}

.up-input__container--blue.up-input__container--active {
  border-color: #0116b4
}

.up-input__container--active {
  border-color: #f2f2f2
}

.up-input__container--error {
  margin-bottom: 5px
}

.up-input__label {
  position: absolute;
  color: #898d91;
  font-size: 11px;
  top: -6px;
  left: 8px;
  transform: translateY(22px);
  background: #252638;
  padding: 0 5px;
  transition: transform .3s ease-in-out, color .3s ease-in-out
}

.up-input__label--blue.up-input__label--active {
  color: #0116b4
}

.up-input__label--purple.up-input__label--active {
  color: #782abd
}

.up-input__label--active {
  transform: translateY(0);
  color: #f2f2f2
}

.up-input__el {
  width: 100%;
  position: relative;
  appearance: none;
  background: transparent;
  outline: none;
  border: none;
  color: #f2f2f2;
  padding: 12px 14px 10px
}

.up-input__el:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #222335 inset;
  -webkit-text-fill-color: #f2f2f2;
  color: #f2f2f2
}

.up-form {
  background: #252638;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #131223;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, .6)
}

.up-form__title {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  position: relative;
  background: radial-gradient(circle, #423f4f, #252638) 10%
}

.up-form--purple {
  border: 1px solid #782abd
}

.up-form--purple .up-form__title {
  background: radial-gradient(circle, #782abd, #252638) 10%
}

.up-form--blue {
  border: 1px solid #0116b4
}

.up-form--blue .up-form__title {
  background: radial-gradient(circle, #0116b4, #252638) 10%
}

.up-form button {
  margin-left: auto
}

.up-alert {
  width: 100%;
  padding: 12px 9px;
  background: #252638;
  border: 1px solid #898d91;
  border-radius: 6px;
  color: #f2f2f2;
  font-size: 13px
}

.up-alert--small {
  padding: 8px 9px;
  font-size: 10px
}

.up-alert--danger {
  background: #FF194319;
  border-color: #ff1a43;
  color: #ff1a43
}

.up-navbar {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 220px;
  min-width: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 0;
  background: #222335
}

.up-navbar__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: -4px 4px 10px rgba(0, 0, 0, .6);
  text-align: center
}

.up-navbar__option {
  cursor: pointer;
  max-width: 100%;
  padding: 10px;
  padding-right: 31px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color .3s ease-in-out;
  text-overflow: ellipsis;
  white-space: nowrap
}

.up-navbar__option--active:before {
  background: #2c0a46 !important;
  opacity: .7 !important
}

.up-navbar__option--active:after {
  transform: rotate(180deg);
  top: 0 !important
}

.up-navbar__option--has-sub-options:after {
  display: none !important
}

.up-navbar__option:hover {
  color: #898d91
}

.up-navbar__option:before {
  background: #020847;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  opacity: .1;
  z-index: -1;
  transition: opacity .3s ease-in-out, background .4s ease-in-out
}

.up-navbar__option:after {
  display: flex;
  align-items: center;
  content: url(../../public/images/arrow-down.svg);
  font-size: 14px;
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 1;
  height: calc(100% - 4px);
  transition: opacity .3s ease-in-out, transform .4s ease-in-out, top .4s ease-in-out
}

.up-navbar__sub-options {
  background: #252638;
  overflow: hidden;
  transition: max-height .3s ease-in-out;
  margin: 5px 0;
  z-index: 1;
  border-radius: 6px
}

.up-navbar__sub-options--active {
  max-height: 100px
}

.up-navbar__sub-options--hidden {
  max-height: 0
}

.up-navbar__sub-option {
  cursor: pointer;
  padding: 10px 10px 10px 20px;
  font-size: 14px;
  transition: color .3s ease-in-out;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 5px
}

.up-navbar__sub-option:before {
  background: #2c0a46;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s ease-in-out
}

.up-navbar__sub-option--active:before {
  opacity: .3 !important
}

.up-navbar__sub-option--blocked {
  cursor: not-allowed
}

.up-navbar__sub-option--blocked:before {
  background: #FF194319 !important;
  opacity: .7 !important
}

.up-navbar__sub-option:hover {
  color: #898d91
}

.up-table {
  background: #222335;
  border-radius: 6px;
  padding: 1rem;
  padding-bottom: 1.5rem
}

.up-table h2 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 16px
}

.up-table table {
  border-collapse: separate;
  border-spacing: 5px 8px;
  width: 100%;
  border: 1px solid #423f4f;
  border-radius: 6px
}

.up-table table thead tr th {
  text-align: center;
  padding: 8px;
  transition: opacity .3s ease-in-out, background .3s ease-in-out;
  background: #2c0a46;
  border-radius: 6px
}

.up-table table thead tr th:hover {
  background: #380d51
}

.up-table table tbody tr:nth-child(odd) td {
  position: relative;
  z-index: 1
}

.up-table table tbody tr:nth-child(odd) td:hover:after {
  opacity: .4 !important
}

.up-table table tbody tr:nth-child(odd) td:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: #2c0a46;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .1;
  transition: opacity .3s ease-in-out
}

.up-table table tbody tr:nth-child(even) td {
  position: relative;
  z-index: 1
}

.up-table table tbody tr:nth-child(even) td:hover:after {
  opacity: .8 !important
}

.up-table table tbody tr:nth-child(even) td:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: #2c0a46;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .2
}

.up-table table tbody tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding: 8px;
  transition: opacity .3s ease-in-out;
  border-radius: 6px
}

.up-table table tbody tr td.up-table__button {
  cursor: pointer
}

.up-table table tbody tr td.up-table__button--disabled {
  cursor: not-allowed;
  opacity: .5
}

.up-table table tbody tr td img {
  max-width: 18px !important;
  min-width: 18px !important
}

.up-page-loading {
  display: flex;
  height: 100%;
  max-width: 150px;
  margin: auto;
  align-items: center;
  animation: fade-in .75s ease-in-out
}

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.up-page-loading__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.up-page-loading__container * {
  border: 7px solid #782abd;
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
  margin: 7px;
  transition: all .3s ease-in-out
}

.up-page-loading__container *:nth-child(1) {
  animation: up-page-loading 2s infinite .5s
}

.up-page-loading__container *:nth-child(2) {
  animation: up-page-loading 2s infinite .5s
}

.up-page-loading__container *:nth-child(3) {
  animation: up-page-loading 2s infinite .5s
}

.up-page-loading__container *:nth-child(4) {
  animation: up-page-loading 2s infinite 1s
}

.up-page-loading__container *:nth-child(5) {
  animation: up-page-loading 2s infinite 1s
}

.up-page-loading__container *:nth-child(6) {
  animation: up-page-loading 2s infinite 1s
}

.up-page-loading__container *:nth-child(7) {
  animation: up-page-loading 2s infinite 1.5s
}

.up-page-loading__container *:nth-child(8) {
  animation: up-page-loading 2s infinite 1.5s
}

.up-page-loading__container *:nth-child(9) {
  animation: up-page-loading 2s infinite 1.5s
}

@keyframes up-page-loading {
  0% {
    transform: rotate(0deg);
    border-color: #782abd
  }
  100% {
    transform: rotate(180deg);
    border-color: #0116b4
  }
}

.up-alerts-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 600px;
  max-width: 100%;
  z-index: 9999;
  padding: 20px;
  padding-top: 0
}

.up-alerts-box__alert {
  animation: fadeIn .5s ease-in-out;
  animation-fill-mode: forwards;
  min-height: 35px;
  padding: 5px 15px;
  background: #423f4f;
  border-radius: 6px;
  display: flex;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15)
}

.up-alerts-box__alert--success {
  background: #020847
}

.up-alerts-box__alert--error {
  background: #ff1a43
}

.up-alerts-box__alert-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  padding-right: 20px
}

.up-alerts-box__alert-close {
  cursor: pointer;
  color: #f2f2f2;
  font-size: 20px;
  padding: 10px;
  transition: color .3s ease-in-out
}

.up-alerts-box__alert-close:hover {
  color: #898d91
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.up-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #252638;
  border-radius: 6px;
  width: 400px;
  min-height: 250px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow: hidden
}

.up-modal h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  background: #131223;
  text-shadow: -4px 4px 10px rgba(0, 0, 0, .6)
}

.up-modal p {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222335;
  width: 100%
}

.up-modal__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 20px 0;
  background: #131223;
  text-shadow: -4px 4px 10px rgba(0, 0, 0, .6)
}

.up-modal__overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, .5)
}

.up-admin-form {
  max-width: 800px;
  margin: auto
}

.up-admin-form .up-button {
  margin: auto
}

.up-home-logged-page {
  min-height: 100vh;
  width: 100%;
  padding: 15px 15px 15px 240px
}

.up-home-entry-page {
  height: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden
}

.up-home-entry-page--disabled:before {
  filter: blur(7px)
}

.up-home-entry-page--disabled .up-home-entry-page__container {
  animation: fade-out .5s ease-in-out forwards
}

@keyframes fade-out {
  0% {
    opacity: 1;
    filter: blur(0px)
  }
  100% {
    opacity: 0;
    filter: blur(7px)
  }
}

.up-home-entry-page:before {
  content: "";
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../../public/images/home-entry-page-bg.jpg) no-repeat center;
  animation: fade-in .75s ease-in-out;
  background-size: cover;
  animation-fill-mode: forwards;
  transition: filter .5s ease-in-out
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: .8
  }
}

.up-home-entry-page__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  height: 100%;
  padding: 0 40px;
  position: relative;
  z-index: 2;
  text-shadow: -4px 4px 10px rgba(0, 0, 0, .6);
  animation: fade-in .5s ease-in-out
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@media (min-width: 768px) {
  .up-home-entry-page__container {
    padding: 0 200px 0 0
  }
}

@media (min-width: 1024px) {
  .up-home-entry-page__container {
    padding: 0 300px 0 0
  }
}

@media (min-width: 1440px) {
  .up-home-entry-page__container {
    padding: 0 500px 0 0
  }
}

.up-home-entry-page__title {
  font-weight: bold;
  font-size: 68px
}

.up-home-entry-page__button-container {
  display: flex;
  gap: 10px
}

.up-home-entry-page__button-login {
  font-size: 16px;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, .6)
}

.up-home-entry-page__button-login:first-child {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  background: #782abd;
  border: 2px solid #782abd
}

.up-home-entry-page__button-login:first-child:after {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0
}

.up-home-entry-page__button-login:last-child {
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  background: #0116b4;
  border: 2px solid #0116b4
}

.up-home-entry-page__button-login:last-child:after {
  border-bottom-right-radius: 0;
  border-top-left-radius: 0
}

.up-home-section-page {
  position: relative;
  z-index: 2;
  transition: filter .5s ease-in-out;
  height: 100%
}

.up-home-section-page--disabled {
  animation: fade-out .5s ease-in-out forwards
}

@keyframes fade-out {
  0% {
    opacity: 1;
    filter: blur(0px)
  }
  100% {
    opacity: 0;
    filter: blur(7px)
  }
}

.up-home-section-page__button-back {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 40px;
  position: fixed;
  top: 20px;
  left: 20px;
  animation: fade-in .5s ease-in-out
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.up-home-section-page__button-back:after {
  width: 32.5px;
  height: 32.5px;
  border-radius: 50%
}

.up-home-section-page__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move-to .5s ease-in-out
}

@keyframes move-to {
  0% {
    transform: translateX(100%)
  }
  100% {
    transform: translateY(0)
  }
}
