<div [ngClass]="['up-home-entry-page', entryPageClassName]">
  <div *ngIf="!isPageChanged && pageLoaded" [ngClass]="'up-home-entry-page__container'">
    <h1 class="up-home-entry-page__title">Go Drink</h1>
    <div class="up-home-entry-page__button-container">
      <button
        class="up-button up-home-entry-page__button-login"
        type="button"
        (click)="changePage('login')"
      >
        Log in
      </button>
      <button
        class="up-button up-home-entry-page__button-login"
        type="button"
        (click)="changePage('register')"
      >
        Sign up
      </button>
    </div>
  </div>
  <div *ngIf="isPageChanged" [ngClass]="['up-home-section-page', sectionPageClassName]">
    <button
      class="up-button up-home-section-page__button-back"
      (click)="changePage('')"
    >
      <img height="42px" src="../public/images/go-back-icon.svg" alt="Go back">
    </button>
    <div class="up-home-section-page__container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
