<div [ngClass]="['up-home-entry-page', entryPageClassName]">
  <div *ngIf="!isPageChanged">
    <div [ngClass]="'up-home-entry-page__container'">
      <h1 [ngClass]="'up-home-entry-page__title'">Go Drink</h1>
      <div [ngClass]="'up-home-entry-page__button-container'">
        <Button
          [ngClass]="'up-home-entry-page__button-login'"
          (click)="setPage('login')">
          Log in
        </Button>
        <Button
          [ngClass]="'up-home-entry-page__button-login'"
          (click)="setPage('signup')"
        >
          Sign up
        </Button>
      </div>
    </div>
  </div>
  <div *ngIf="isPageChanged">
    <div [ngClass]="['up-home-section-page', sectionPageClassName]">
      <Button
        [ngClass]="'up-home-section-page__button-back'"
        (click)="changePage('')"
      >
        <GoBackIcon/>
      </Button>
      <div [ngClass]="'up-home-section-page__container'"><!--{children}--></div>
    </div>
  </div>
</div>
